<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <div class="container-fluid">
        <a routerLink="dashboard" class="navbar-brand">Escola Inteligente</li> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerlinkActive="active">
                <a routerLink="alunos"  class="nav-link">Alunos </li> 
            </li>
            <li class="nav-item" routerlinkActive="active">
              <a routerLink="professores"  class="nav-link">Professores</li>
                <!-- O routerlinkActive serve para deixar ativado somente ao ser clicado, para mostrar onde você está -->
            </li>
          </ul>
          <ul  class="navbar-nav" dropdown>
            <li class="nav-item dropdown">
              <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle" 
              id="navbarDropdownMenuLink" role="button" style="cursor: pointer;"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                João Miguel
              </a>
              <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a routerLink="perfil" class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Sair</a></li>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
